.site-bg-solid {
  background: #333333;
  min-height: 100vh;
  width: 100%;
}

.site-bg-img {
  background-image: url("img/bg-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -30vh;
  height: 100vh;
  width: 100%;
}

.route-wrapper {
  min-height: 80vh;
  width: 100%;
}

.route-wrapper-min {
  height: 70vh;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .site-bg-img {
    background-position-y: center;
  }

  .site-bg-solid {
    height: auto;
  }
}
